
Title: <%= @article.title %><br/>
Content: <%= @article.content %><br/><br/>
Add Comments<br \>
<%= form_for [@article, @comment] do |f| %>
<p>
   <%= f.label :name %><br>
   <%= f.text_field :name  %>
 </p>
 <p>
   <%= f.label :content %><br>
   <%= f.text_area :content %>
 </p>
 <p>
   <input type="hidden" value ="<%= @article.id %>" name="article_id">
   <%= f.submit %>
 </p>
<% end %>
<% if (@article.comments.count == 0) %>
<strong>No comments</strong><br /><br />
<% else %>
Number of Comments: <%=@article.comments.count%><br /><br />
<strong>Comments </strong><br />
<ul>
<%= @article.comments.each do |comment| %>
  <li><%= comment.name %> - <%= comment.content %><br /></li>
<% end %>
</ul>
<% end %>
<br />
<%= link_to 'Back', articles_path %>
